# pnpm configuration
auto-install-peers=true
dedupe-peer-dependents=false
enable-pre-post-scripts=true
fund=false
hoist=true
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
save-exact=true
shamefully-hoist=false
strict-peer-dependencies=false
